{% include 'main.html' %}
{% load static %}
{% block content %}
<style>
    .title{
        font-size: 100px;
    }
</style>
<div class="container mt-5 pt-5 pb-5">
  <div class="row mb-3">
      <div class="col">
          <div class="card">
              <div class="card-body text-center">
                  <div class="logo d-inline align-items-center justify-content-center">
                      <div class="title m-2">404 Page Not Found</div>
                      <div>
                        <p>We're fairly sure that page used to be here, but seems to have gone missing. We do apologies on it's behalf</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}