{% include 'main.html' %}
{% load static %}
{% block content %}
<style>
    .title{
        font-size: 100px;
    }
</style>
<div class="container mt-5 pt-5 pb-5">
  <div class="row mb-3">
      <div class="col">
          <div class="card">
              <div class="card-body text-center">
                  <div class="logo d-flex align-items-center justify-content-center">
                      <div class="title m-2">400 Bad Request</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}