{% include 'main.html' %}

{% block content %}
<main>
  {% include 'navbar.html' %}
  <div class="container mt-5 pt-5">
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Password reset complete</h4>
                  <hr>
                  <p class="card-text">
                    Your password has been set. You may go ahead and login now
                  </p>
                  <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-outline-light login me-2">Login</button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}