{% include 'main.html' %}

{% block content %}
<main>
  {% include 'navbar.html' %}
  <div class="container mt-5 pt-5">
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Password Reset</h4>
                    <a href="{% url 'login' %}">
                        <button class="btn btn-print text-white">
                            <i class="fas fa-arrow-left me-2"></i>Back
                        </button>
                    </a>
                </div>
                  <hr>
                  <p class="card-text">
                    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                  </p>
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        {% for field in form %}
                        <div class="col-md-6 mb-2">
                            <label for="input" class="form-label">{{field.label}}: </label>
                            {{field}}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-1 mb-3 ">Reset my password</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}